@import '_variables.scss';

.blog {
    background: $main-color;
    @media(max-width: 991.98px) {
        .col-lg-6, .col-lg-3 {
            margin-bottom: 25px;
        }
        .imgs {
            min-width: 100%;
        }
    }
    @media(max-width: 767.98px) {
        .container {
            max-width: 360px;
        }
    }
    .text {
        padding: 20px;
        h3 {
            font-size: 20px;
            line-height: 24px;
        }
        p {
            font-size: 14px;
            line-height: 20px;
        }
    }
    .topic {
        text-align: center;
        font-size: 34px;
        margin-top: 62px;
    }
    .wordwide {
        padding: 51px;
        background: url(../imgs/bridge.png) no-repeat;
        background-size: cover;
        text-align: center;
        height: 100%;
        h2 {
            font-size: 34px;
            line-height: 38px;
        }
    }
    .travel-bloger,
    .lifehack {
        background: $main-color;
        height: 100%;
        border-radius: 4px;
    }
    .likes {
        font-size: 13px;
        color: rgba(255, 255, 255, 0.5);
        .liked {
            color: white;
        }
    }
    .btn:hover {
        color:$main-color;
        background: $yellow-color;
    }
    .btn {
        border: 1px solid $yellow-color;
        border-radius: 4px;
        background: none;
        color: white;
        font-size: 20px;
        line-height: 24px;
        height: 48px;
        width: 216px;
        font-weight: 400;
    }
}