.blog {
  background: #1B1E22;
}

@media (max-width: 991.98px) {
  .blog .col-lg-6, .blog .col-lg-3 {
    margin-bottom: 25px;
  }
  .blog .imgs {
    min-width: 100%;
  }
}

@media (max-width: 767.98px) {
  .blog .container {
    max-width: 360px;
  }
}

.blog .text {
  padding: 20px;
}

.blog .text h3 {
  font-size: 20px;
  line-height: 24px;
}

.blog .text p {
  font-size: 14px;
  line-height: 20px;
}

.blog .topic {
  text-align: center;
  font-size: 34px;
  margin-top: 62px;
}

.blog .wordwide {
  padding: 51px;
  background: url(../imgs/bridge.png) no-repeat;
  background-size: cover;
  text-align: center;
  height: 100%;
}

.blog .wordwide h2 {
  font-size: 34px;
  line-height: 38px;
}

.blog .travel-bloger,
.blog .lifehack {
  background: #23282F;
  height: 100%;
  border-radius: 4px;
}

.blog .likes {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
}

.blog .likes .liked {
  color: white;
}

.blog .btn:hover {
  color: black;
  background: #FFB800;
}

.blog .btn {
  border: 1px solid #FFB800;
  border-radius: 4px;
  background: none;
  color: white;
  font-size: 20px;
  line-height: 24px;
  height: 48px;
  width: 216px;
  font-weight: 400;
}
/*# sourceMappingURL=blog.css.map */