footer {
  background: #1B1E22;
  padding: 62.21px 0 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer h3 {
  font-size: 13px;
  line-height: 16px;
  color: #FFB800;
  margin: 0 27.26px 14.96px 0;
}

footer p {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 14.96px;
}

footer .social-icons .inst {
  background: url(../imgs/inst.png) no-repeat;
  width: 18px;
  height: 18px;
}

footer .social-icons .vk {
  background: url(../imgs/vk.png) no-repeat;
  width: 24px;
  height: 13.69px;
}

footer .social-icons .twiter {
  background: url(../imgs/twiter.png) no-repeat;
  width: 18px;
  height: 14.97px;
}

footer .social-icons .facebook {
  background: url(../imgs/facebook.png) no-repeat;
  width: 9.33px;
  height: 20px;
}
/*# sourceMappingURL=footer.css.map */