@import "_variables.sccs";
footer {
    background: $main-color;
    padding: 62.21px 0 28px;
    box-sizing: border-box;
    h3 {
        font-size: 13px;
        line-height: 16px;
        color: $yellow-color;
        margin: 0 27.26px 14.96px 0;
    }
    p {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 14.96px;
    }
    .social-icons {
        .inst {
            background: url(../imgs/inst.png) no-repeat;
            width: 18px;
            height: 18px;
        }
        .vk {
            background: url(../imgs/vk.png) no-repeat;
            width: 24px;
            height: 13.69px;
        }
        .twiter {
            background: url(../imgs/twiter.png) no-repeat;
            width: 18px;
            height: 14.97px;
        }
        .facebook {
            background: url(../imgs/facebook.png) no-repeat;
            width: 9.33px;
            height: 20px;
        }
    }
}