@import "_variables.scss";
header {
    .row {
        height: 90px;
    }
    nav {
        margin-top: 50px;
        width: calc(100% - 216px);
        .lang-menu {
            .eng {
                color: rgba(196, 196, 196, 0.5);
            }
            li {
                padding-right: 21px;
                font-size: 13px;
                line-height: 32px;
            }
        }
        .nav-menu {
            li {
                padding-right: 40px;
                font-size: 18px;
                line-height: 32px;
            }
            .btn {
                color: white;
                background:$main-color;
                border: 1px solid $yellow-color;
                border-radius: 10px;
                padding: 10px 25px;
            }
        }
    }
}