header .row {
  height: 90px;
}

header nav {
  margin-top: 50px;
  width: calc(100% - 216px);
}

header nav .lang-menu .eng {
  color: rgba(196, 196, 196, 0.5);
}

header nav .lang-menu li {
  padding-right: 21px;
  font-size: 13px;
  line-height: 32px;
}

header nav .nav-menu li {
  padding-right: 40px;
  font-size: 18px;
  line-height: 32px;
}

header nav .nav-menu .btn {
  color: white;
  background: #1B1E22;
  border: 1px solid #FFB800;
  border-radius: 10px;
  padding: 10px 25px;
}
/*# sourceMappingURL=header.css.map */