@import '_variables.scss';

.numbers {
    background: url(../imgs/bg-2.png) no-repeat;
    background-size: cover;
    text-align: center;
    padding: 60px 0 68px;
    h2 {
        font-size: 78px;
        color: $yellow-color;
        margin-bottom: 23px;
    }
    p {
        font-size: 20px;
    }
}