.numbers {
  background: url(../imgs/bg-2.png) no-repeat;
  background-size: cover;
  text-align: center;
  padding: 60px 0 68px;
}

.numbers h2 {
  font-size: 78px;
  color: #FFB800;
  margin-bottom: 23px;
}

.numbers p {
  font-size: 20px;
}
/*# sourceMappingURL=numbers.css.map */