@import '_variables.scss';
.partways {
    background: $main-color;
    .container {
        @media (max-width: 767.98px) {
            max-width: 360px;
        }
    }
    .col-lg-4 {
        @media (max-width: 767.98px) {
            margin-bottom: 25px;
        }
        .text {
            @media(max-width: 991.98px) {
                min-height: 230px;
            }
        }
        &:hover {
            cursor: pointer;
            transform: scale(1.07);
            -webkit-transform: scale(1.07);
            -moz-transform: scale(1.07);
            -ms-transform: scale(1.07);
            -o-transform: scale(1.07);
            .text {
                background: #FFFFFF;
                color: black;
                box-shadow: 0 0.4em 6px rgba(0, 0, 0, 0.705);
                a {
                    color: black;
                }
            }
        }
    }
    .col-12 {
        text-align: center;
        h2 {
            font-size: 34px;
        }
    }
    .image {
        position: relative;
    }
    .info {
        position: absolute;
        left: 0;
        bottom: 25px;
        span {
            padding: 4px;
            line-height: 24px;
            height: 24px;
        }
        .price {
            background-color: $yellow-color;
            font-size: 20px;
            color: black;
            font-weight: 600;
            small {
                font-size: 13px;
            }
        }
        .date {
            background-color: rgba(27, 30, 34, .75);
            font-size: 13px;
            padding: 8px 4px;
        }
    }
    .text {
        padding: 16px 0 14px 20px;
        background: #23282F;
        border-radius: 4px;
        h3 {
            font-size: 20px;
            line-height: 24px;
        }
        p {
            font-size: 14px;
            line-height: 20px;
        }
        a {
            text-decoration: none;
            color: white;
            font-size: 13px;
            opacity: 0.5;
        }
    }
    .btn {
        border: 1px solid $yellow-color;
        border-radius: 4px;
        background: none;
        color: white;
        font-size: 20px;
        line-height: 24px;
        height: 48px;
        width: 216px;
        font-weight: 400;
        margin-bottom: 72px;
    }
    .btn:hover {
        color: black;
        background: $yellow-color;
    }
}