.partways {
  background: #1B1E22;
}

@media (max-width: 767.98px) {
  .partways .container {
    max-width: 360px;
  }
}

@media (max-width: 767.98px) {
  .partways .col-lg-4 {
    margin-bottom: 25px;
  }
}

@media (max-width: 991.98px) {
  .partways .col-lg-4 .text {
    min-height: 230px;
  }
}

.partways .col-lg-4:hover {
  cursor: pointer;
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
}

.partways .col-lg-4:hover .text {
  background: #FFFFFF;
  color: black;
  -webkit-box-shadow: 0 0.4em 6px rgba(0, 0, 0, 0.705);
          box-shadow: 0 0.4em 6px rgba(0, 0, 0, 0.705);
}

.partways .col-lg-4:hover .text a {
  color: black;
}

.partways .col-12 {
  text-align: center;
}

.partways .col-12 h2 {
  font-size: 34px;
}

.partways .image {
  position: relative;
}

.partways .info {
  position: absolute;
  left: 0;
  bottom: 25px;
}

.partways .info span {
  padding: 4px;
  line-height: 24px;
  height: 24px;
}

.partways .info .price {
  background-color: #FFB800;
  font-size: 20px;
  color: black;
  font-weight: 600;
}

.partways .info .price small {
  font-size: 13px;
}

.partways .info .date {
  background-color: rgba(27, 30, 34, 0.75);
  font-size: 13px;
  padding: 8px 4px;
}

.partways .text {
  padding: 16px 0 14px 20px;
  background: #23282F;
  border-radius: 4px;
}

.partways .text h3 {
  font-size: 20px;
  line-height: 24px;
}

.partways .text p {
  font-size: 14px;
  line-height: 20px;
}

.partways .text a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  opacity: 0.5;
}

.partways .btn {
  border: 1px solid #FFB800;
  border-radius: 4px;
  background: none;
  color: white;
  font-size: 20px;
  line-height: 24px;
  height: 48px;
  width: 216px;
  font-weight: 400;
  margin-bottom: 72px;
}

.partways .btn:hover {
  color: black;
  background: #FFB800;
}
/*# sourceMappingURL=partways.css.map */