.contacts .img {
  background-image: url("../imgs/bg.png");
  max-width: 100%;
  height: auto;
}

.registr {
  padding-bottom: 200px;
}

.registr .reg form {
  padding: 70px;
  max-width: 500px;
  height: 400px;
  background: rgba(51, 51, 51, 0.25);
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.registr .reg .at {
  width: 100%;
  height: 36px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 22px;
  background: transparent;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 8px;
  color: white;
}

.registr .reg .ellips {
  margin-left: -30px;
}

.registr .reg .center_form {
  height: 36px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 22px;
  background: transparent;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 8px;
  width: calc(50% - 13px);
}

.registr .reg .center_form.left {
  margin-right: 10px;
}

.registr .reg .center_form.right {
  margin-left: 10px;
}

.registr .reg .ce .Rectangle {
  margin-top: -100px;
  margin-left: 340px;
}

.registr .reg .btn2 {
  width: 100%;
  height: 36px;
  background: #FFB800;
  border-radius: 4px;
  color: #333333;
  font-size: 25px;
  border: none;
}

.registr .reg h2 {
  font-size: 20px;
  line-height: 10px;
  width: 240px;
  height: 22.56px;
  color: #FFFFFF;
}

.registr .reg .typeofture {
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 36px;
  margin-bottom: 24px;
  color: #FFFFFF;
  padding: 8px;
  font-size: 14px;
  background: transparent;
}

.registr .baner {
  padding-top: 90px;
}

.registr .baner .issledyi {
  font-weight: 200px;
  font-size: 38px;
  line-height: 48px;
  width: 300;
}

.registr .baner p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 38px;
  color: #FFFFFF;
}
/*# sourceMappingURL=registr.css.map */