.contacts {
    .img {
        background-image: url('../imgs/bg.png');
        max-width: 100%;
        height: auto;
    }
}

.registr {
    padding-bottom: 200px;
    .reg {
        form {
            padding: 70px;
            max-width: 500px;
            height: 400px;
            background: rgba(51, 51, 51, 0.25);
            box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
        }
        .at {
            width: 100%;
            height: 36px;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 4px;
            margin-bottom: 22px;
            background: transparent;
            font-weight: 500;
            font-size: 13px;
            line-height: 16px;
            color: #FFFFFF;
            padding: 8px;
            color: white;
        }
        .ellips {
            margin-left: -30px;
        }
        .center_form {
            height: 36px;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 4px;
            margin-bottom: 22px;
            background: transparent;
            font-size: 13px;
            line-height: 16px;
            color: #FFFFFF;
            padding: 8px;
            width: calc(50% - 13px);
            &.left {
                margin-right: 10px;
            }
            &.right {
                margin-left: 10px;
            }
        }
        .ce .Rectangle {
            margin-top: -100px;
            margin-left: 340px;
        }
        .btn2 {
            width: 100%;
            height: 36px;
            background: #FFB800;
            border-radius: 4px;
            color: #333333;
            font-size: 25px;
            border: none;
        }
        h2 {
            font-size: 20px;
            line-height: 10px;
            width: 240px;
            height: 22.56px;
            color: #FFFFFF;
        }
        .typeofture {
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 4px;
            width: 100%;
            height: 36px;
            margin-bottom: 24px;
            color: #FFFFFF;
            ;
            padding: 8px;
            font-size: 14px;
            background: transparent;
        }
    }
    .baner {
        padding-top: 90px;
        .issledyi {
            font-weight: 200px;
            font-size: 38px;
            line-height: 48px;
            width: 300;
        }
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 38px;
            color: #FFFFFF;
        }
    }
}