.comms{
    padding-top:62px;
    font-family: Montserrat;
        .h-comms{
            font-size: 20px;
            text-align: center;
            font-size: 34px;
          
        }
        .comm-t{
            font-size:18px;
            text-align: center;
            background: url(../imgs/brakets.svg) no-repeat; 
            background-position: 300px 20px;

        }
        .comm-n{
            color:#FFB800;
            font-size: 16px;
        }
        .comm-img{
            height:96px;
            width:96px;
            margin-left:290px;
        }
    
}
.m-comms{
    flex-direction: column;
    line-height: 32px;
    font-size: 24px;
    text-align: center;
}