@import '_variables.scss';
@import '_mixins.scss';
body {
    font-family: 'Montserrat', sans-serif;
    background: #1B1E22 ;
    color: white;
    font-size: 13px;
    line-height: 16px;
}

img {
    max-width: 100%;
}

.bg-dark {
    background: url(../imgs/bg.png) no-repeat;
    background-size: contain;
}

.mail {
    color: $yellow-color;
}

.comms {

    background: #1B1E22;
    
    .adress {
        color: $yellow-color;
    }
    .phone { 
        color: $yellow-color;
    }
    .we {
        color: $yellow-color;
    }
}