body {
  font-family: 'Montserrat', sans-serif;
  background: #1B1E22;
  color: white;
  font-size: 13px;
  line-height: 16px;
}

img {
  max-width: 100%;
}

.bg-dark {
  background: url(../imgs/bg.png) no-repeat;
  background-size: contain;
}

.mail {
  color: #FFB800;
}

.comms {
  background: #1B1E22;
}

.comms .adress {
  color: #FFB800;
}

.comms .phone {
  color: #FFB800;
}

.comms .we {
  color: #FFB800;
}
/*# sourceMappingURL=styles.css.map */