.why {
  margin-bottom: 45px;
  padding-bottom: 78px;
}

.why .add {
  text-align: center;
  font-weight: 500;
  font-size: 34px;
  line-height: 38px;
  color: #FFFFFF;
}

.why .img-icon {
  padding: 30px;
  padding-left: 85px;
}

.why p {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  width: 250px;
}
/*# sourceMappingURL=why-us.css.map */